<div style="margin-top: 50px;" class="container">
    <div class="row">
      <div style="text-align: center;" class="test col">
          <img src="./assets/img/1.png" width="300" height="180" alt="">
          <div class="text">
            <br>
            <h5>Lorem ipsum</h5>
            <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maesenas.</p>
          </div>
      </div>
      <div style="text-align: center;"class="test col">
          <img src="./assets/img/2.png" width="300" height="180" alt="">
          <div class="text">
              <br>
              <h5>Lorem ipsum</h5>
              <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maesenas.</p>
          </div>
      </div>
      <div style="text-align: center;"class="test col">
          <img src="./assets/img/3.png" width="300" height="180" alt="">
          <div class="text">
              <br>
              <h5>Lorem ipsum</h5>
              <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis maesenas.</p>
          </div>
      </div>
    </div>
  </div>