.active{
    text-decoration: none;
    color: red;
    border-bottom: 3px solid orange;
    
}

.navbar-nav > li.nav-item > a.active{
    font-weight: bold;
    color:orange;
}

.navbar-nav > li.nav-item > a.text{
    font-weight: bold;
}